@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --cor-primaria: #30aaa1;
  --cor-secundaria: #886ce4;
  --cor-branca: #fff;
  --cor-fundo-escuro: #040203;
  --cor-fundo-cinza-escuro: #252525;
  --cor-fundo-cinza-claro: #353535;
  --cor-api: #00ff01;
  --typescript: #2f74c0;
  --react: #00d8ff;
  --tailwind: #2298bd;
  --sass: #cc6699;
  --git: #f34f29;
  --github: #181616;
  --gitlab: #e24329;
  --jest: #99425b;
  --redux: #764abc;
  --nodejs: #84ce24;
  --express: #444444;
  --mongodb: #4fa940;
  --postgresql: #336791;
}

:root {
  --fonte-primaria: "Press Start 2P", sans-serif;
  --fonte-secundaria: "DotGothic16", sans-serif;
  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.4rem;
  --fonte-normal: 1.6rem;
}

:root {
  --mobile-padding: 30px;
  --typing-speed: 2s;
  --typing-characters: 13;
}

html {
  font-size: 62.5%;
  font-weight: 300;
  scroll-behavior: smooth;
  color: var(--cor-branca);
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: var(--cor-fundo-cinza-escuro);

  font-family: var(--fonte-primaria);
  font-size: var(--fonte-normal);
}

strong {
  color: var(--cor-primaria);
}

.row {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.redes-sociais a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.redes-sociais a:hover {
  color: var(--cor-primaria);
}

.redes-sociais a i {
  line-height: 40px;
}

.section {
  padding: 7rem 0 7rem;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
}

.section-title h2 {
  font-size: var(--fonte-gigante);
  font-weight: 500;
  text-transform: uppercase;
}

.botao {
  font-size: var(--fonte-normal);
  padding: 10px 20px;
  box-shadow: 5px 5px 0 #000;
  background-color: var(--cor-primaria);
}

.botao:hover,
.botao:active {
  background-color: #d10101;
}

.emoticon {
  color: var(--cor-primaria);
  font-size: 1.2rem;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .section-title h2 {
    font-size: 170%;
  }
}
