@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --cor-primaria: #30AAA1;
  --cor-secundaria: #886CE4;
  --cor-branca: #fff;
  --cor-fundo-escuro: #040203;
  --cor-fundo-cinza-escuro: #252525;
  --cor-fundo-cinza-claro: #353535;
}

:root {
  --fonte-primaria:'Press Start 2P', cursive;;
  --fonte-secundaria: 'DotGothic16', sans-serif;
  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.4rem;
  --fonte-normal: 1.6rem;
}

:root {
  --mobile-padding: 30px;
}

html {
  font-size: 62.5%;
  font-weight: 300;
  scroll-behavior: smooth;
  color: var(--cor-branca);
}

.container  {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: var(--cor-fundo-cinza-escuro);

  font-family: var(--fonte-primaria);
  font-size: var(--fonte-normal);
}

strong {
  color: var(--cor-primaria);
}

.row {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.redes-sociais a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.redes-sociais a:hover {
  color: var(--cor-primaria);
}

.redes-sociais a i {
  line-height: 40px;
}

.section {
  padding: 7rem 0 7rem;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
}

.section-title h2 {
  font-size: var(--fonte-gigante);
  font-weight: 500;
  text-transform: uppercase;
}

.botao {
  font-size: var(--fonte-normal);
  padding: 10px 20px;
  box-shadow: 5px 5px 0 #000;
  transition: all 0.3s ease;
  background-color: var(--cor-primaria);
}

.botao:hover,
.botao:active {
  background-color: #d10101;
}

@media (max-width: 500px) {
  .section-title h2 {
    font-size: 170%;;
  }
}