.projetos .container-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    grid-gap: 20px;
}

.projetos .container-projetos .projeto {
    margin: 0 auto;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    position: relative;
}

.projetos .container-projetos .projeto:hover,
.projetos .container-projetos .projeto:hover .informacoes-projeto {
    opacity: 0.8;
}

.projetos .container-projetos .projeto img {
    height: 100%;
    width: 100%;
}

.projetos .container-projetos .projeto .informacoes-projeto {
    padding: 20px;
    background-color: var(--cor-fundo-escuro);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    line-height: 1.5rem;
    opacity: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.projetos .container-projetos .projeto h3 {
    position: absolute;
    background-color: var(--cor-fundo-escuro);
    bottom: 0;
    padding: 10px 0px 10px 20px;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.7;
}

.projetos .container-projetos .projeto .informacoes-projeto p:nth-child(2) {
    font-weight: 700;
    margin-top: 10px;
    font-size: 1.4rem;
}
    @media (max-width: 1280px) {
        .projetos .container-projetos {
            padding: 0 var(--mobile-padding);
        }
    }

    @media (max-width: 350px) {
        .projetos .container-projetos .projeto .informacoes-projeto {
            font-size: 1.2rem;
        }
    }